{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "airbnb/base"
      ],
    "rules": {
      "no-plusplus": "off",
      "max-classes-per-file": ["error", 2],
      "no-underscore-dangle": "off",
      "prefer-const": "warn",
      "prefer-template": "off",
      "no-param-reassign": "off",
      "no-restricted-globals": "off",
      "no-tabs": "off",
      "prefer-rest-params": "off",
      "func-names": "off",
      "no-shadow": "warn",
      "operator-linebreak": "warn",
      "indent": ["error", 4],
      "no-console": "off"
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    }
}