{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb", "airbnb/hooks"],
    "rules": {
        "max-classes-per-file": ["error", 2],
        "func-names": "off",
        "no-plusplus": "off",
        "no-underscore-dangle": "off",
        "no-console": "off",
        "no-restricted-globals": "off",
        "no-param-reassign": "off",
        "indent": ["error", 4]
    },
    "parserOptions": {
      "ecmaVersion": 2020,
      "ecmaFeatures": {
        "experimentalObjectRestSpread": true
      }
    }
}