* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(156, 156, 156);
}

.madal-window {
    min-width: 350px;
    min-height: 200px;

    background-color: #ffffff;
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    padding: 20px;
}

.icon-x {
    text-align: end;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;

    margin-bottom: 5px;

    color: #999999;
}

.icon-x:hover {
    color: #777777;
}

.madal-window h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.text {
    margin: 5px 0;
    flex: 1 1 auto;
}

.btn {
    width: 30px;
    height: 30px;

    color: #fff;
    background-color: royalblue;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    margin-left: auto;
}

.btn:hover {
    background-color: rgb(20, 69, 218);
}
.btn-align {
    display: flex;
}

